{{- $profile := .Params.profile -}}
{{- if not $profile -}}
  {{- $profile = site.Params.profile -}}
{{- end -}}

{{- with $profile -}}
{{- if eq .enable true -}}
<section class="article author">
  {{- with .avatar -}}<img class="avatar" src="{{- . | relURL -}}" alt>{{- end -}}
  
  {{- with .name -}}<p class="name">{{- . -}}</p>{{- end -}}
  
  {{- with .bio -}}<div class="bio">{{- . | markdownify -}}</div>{{- end -}}

  <div class="details">
    {{- with .github -}}
      <a class="item" href="https://github.com/{{- . | safeHTML -}}" target="_blank"><span class="iconfont icon-github"></span>&nbsp;{{- . -}}</a>
    {{- end -}}

    {{- with .docker -}}
      <a class="item" href="https://hub.docker.com/u/{{- . | safeHTML -}}" target="_blank"><span class="iconfont icon-docker"></span>&nbsp;{{- . -}}</a>
    {{- end -}}

    {{- with .twitter -}}
      <a class="item" href="https://twitter.com/{{- . | safeHTML -}}" target="_blank"><span class="iconfont icon-twitter"></span>&nbsp;@{{- . -}}</a>
    {{- end -}}
    
    {{- with .email -}}
      <a class="item" href="mailto:{{- . | safeHTML -}}" target="_blank"><span class="iconfont icon-email"></span>&nbsp;{{- . -}}</a>
    {{- end -}}
  </div>
</section>
{{- end -}}
{{- end -}}
