body {
  color: #d8dde2;
  background-color: #222831;
}

table thead {
  color: #c7d5f6;
}

table tr:nth-child(even) {
  background-color: rgba(51, 54, 58, .35);
}

::selection {
  background-color: #e66e66;
}

mark {
  background-color: #515b70;
}

pre {
  background-color: #393b3d;
}

.title,
.site.name {
  color: #c7d5f6;
}

.note.content {
  color: #d8dde2;
}

.article.markdown-body {
  background-image: linear-gradient(90deg, rgba(250, 200, 200, .05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(250, 200, 200, .05) 3%, rgba(0, 0, 0, 0) 3%);
}

code,
kbd,
tt,
samp {
  color: #ff8282;
  background-color: #3c3939;
}

a {
  color: #2997ff;
}

.pagination ul li a {
  color: #2997ff;
}

.pagination ul li a.active {
  background-color: #2997ff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(41, 151, 255, .5);
}

.tag {
  color: #c7d5f6;
}

.category {
  color: #24292e;
  background-color: rgba(199, 213, 246);
}

strong,
b,
.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3,
.article.markdown-body h4,
.article.markdown-body h5,
.article.markdown-body h6 {
  color: #c7d5f6;
}

#header {
  background-color: #393e46;
}

.note.list .item {
  background-color: #393e46;
  box-shadow: inset -1px 0 0 0 rgba(14, 17, 21, .6),
              inset 0 -1px 0 0 #0e1215, inset 1px 0 0 0 rgba(14, 17, 21, .6);
}

.note.list .item:hover {
  box-shadow: 0 2px 6px 0 #0e1215,
              inset -1px 0 0 0 rgba(14, 17, 21, .3), inset 0 -1px 0 0 #0e1215,
              inset 1px 0 0 0 rgba(14, 17, 21, .2);
}

.article-container {
  background-color: #393e46;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .2);
}

@media (max-width: 500px) {
  .note.list .item,
  .article-container {
    box-shadow: none;
  }
}

/* border color */
.note.imgs .img,
.article.markdown-body table td,
.article.markdown-body table th,
.article.markdown-body .lntable {
  border-color: rgba(199, 213, 246, .25);
}

.article.markdown-body h1,
.article.markdown-body h2 {
  border-bottom-color: rgba(199, 213, 246, .25);
}

.article.license {
  background-color: #323842;
  border-color: rgba(199, 213, 246, .25);
}

.article.discussion {
  border-top-color: rgba(199, 213, 246, .25);
  border-bottom-color: rgba(199, 213, 246, .25);
}

.article.markdown-body .lntable tr>:first-child {
  border-right-color: rgba(199, 213, 246, .25);
}
